
<div id="footerBackground">
    <div class="container" >
        <div class="row">
            <div id="copyright" class="col-md-4 text-center fx-flex text-white align-self-center">Copyright © 2020 Manibus.  All rights Reserved.</div>
            <div id="contactUs" routerLink="/profiles" class="btn col-md-4 text-center fx-flex text-white align-self-center">Our Team</div>
            <div id="social" class="col-md-4 text-center fx-flex text-white align-self-center">
                <div class="row justify-content-center">
                    
                        <ul class="text-center">
                            <li><a target="_blank" href="https://www.facebook.com/shakeer.miushan"><i class="fa fa-facebook-square text-white"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/in/shakeer-miyushan-01b36a188/"><i class="fa fa-linkedin text-white"></i></a></li>
                            <li><a target="_blank" href="https://github.com/miyushan"><i class="fa fa-github text-white"></i></a></li>
                            <li><a target="_blank" href="/home"><i class="fa fa-whatsapp text-white"></i></a></li>
                        </ul>
                    
                </div>  
            </div>
            <div id="logo" class="col text-center">
                <a class="btn" routerLink="/home">
                    <img src="../../assets/logo-grayscale.png" width="50" height="50" alt="">
                </a>
            </div>
        </div>
    </div>
</div>


