
<div id="services" class="container">
  <div class="text-center pb-3">
    <h2>Our services</h2>
  </div>
    <div class="card-deck">
        <div class="card">
          <img src="../../assets/card1.jpg" class="card-img-top fx-flex" alt="...">
          <div class="card-body">
            <h5 class="card-title">Web Development</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum tempora blanditiis expedita quibusdam molestias totam voluptas? Corrupti dolor, placeat, iure amet, debitis inventore nesciunt sit rerum est recusandae temporibus possimus.</p>
            
          </div>
        </div>
        <div class="card">
          <img src="../../assets/card2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Software Development</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptates recusandae praesentium, commodi voluptatum minus distinctio rem quis fuga nemo placeat iusto consequatur deleniti, dolore obcaecati culpa expedita consequuntur quasi?</p>
            
          </div>
        </div>
        <div class="card">
          <img src="../../assets/card3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Artificial Intelligence</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi et pariatur magni, impedit eveniet quidem illo quasi cupiditate unde harum sint minima temporibus. Consectetur inventore commodi qui nulla, error voluptatem.</p>
            
          </div>
        </div>
    </div>
</div>



