.container{
    height: 360px;
    margin-top: 200px ;
    width: 50%;
}

h2{
    color: blueviolet;
}

@media screen and (max-width: 768px) {
    .container{
        margin-top: 100px ;
        width: 80%;
    }
}


