<div id="home">
    <div class="space">

    </div>
    <div id="intro" class="outer">
    
            <div class="inner">
                <p class="h1" id="first">We are team MANIBUS</p>
                <p class="h3" id="second">Providing you with the most trusted and fully fledged platform for physics practical simulation</p>
                <div id="btn1" class=" mb-0"><button (click)="toContact()" type="button" class="btn text-white rounded-pill">Contact Us</button></div>
                
            </div>
    
    </div>
    
</div>



