<div *ngIf="miyushan">

    <div id="profile1" class="wrapper">
        <div class="photo-container">
            <img src="/../assets/miyushan.jpg" width="125px" height="125px" alt="">  
        </div>
        <h3>Shakeer Miyushan</h3>
        <h5>Web Developer</h5>
    </div>
    
    <div class="container1">
        <h3 id="aboutMe" class="text-center">About me</h3>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia.
            
        </p>
    </div>
    <div *ngIf="Back" class="mb-5 text-center">
       <button (click)="goBack()" id="back" class="btn rounded-pill">back</button>
    </div>
    
</div>

<div *ngIf="isuru">

    <div id="profile2" class="wrapper">
        <div class="photo-container">
            <img src="/../assets/miyushan.jpg" width="125px" height="125px" alt="">  
        </div>
        <h3>Isuru Kumaranathunga</h3>
        <h5>AI developer</h5>
    </div>
    
    <div class="container1">
        <h3 id="aboutMe" class="text-center">About me</h3>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia.
            
        </p>
    </div>
    <div *ngIf="Back" class="mb-5 text-center">
        <button (click)="goBack()" id="back" class="btn rounded-pill">back</button>
     </div>
    
</div>

<div *ngIf="induwara">

    <div id="profile3" class="wrapper">
        <div class="photo-container">
            <img src="/../assets/miyushan.jpg" width="125px" height="125px" alt="">  
        </div>
        <h3>Dilnuwan Induwara</h3>
        <h5>Front-end Developer</h5>
    </div>
    
    <div class="container1">
        <h3 id="aboutMe" class="text-center">About me</h3>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia.
            
        </p>
    </div>
    <div *ngIf="Back" class="mb-5 text-center">
        <button (click)="goBack()" id="back" class="btn rounded-pill">back</button>
     </div>
    
</div>

<div *ngIf="keshan">

    <div id="profile4" class="wrapper">
        <div class="photo-container">
            <img src="/../assets/miyushan.jpg" width="125px" height="125px" alt="">  
        </div>
        <h3>Madusha Keshan</h3>
        <h5>Android & IOS Developer</h5>
    </div>
    
    <div class="container1">
        <h3 id="aboutMe" class="text-center">About me</h3>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia.
            
        </p>
    </div>
    <div *ngIf="Back" class="mb-5 text-center">
        <button (click)="goBack()" id="back" class="btn rounded-pill">back</button>
     </div>
    
</div>

<div *ngIf="lakindu">

    <div id="profile5" class="wrapper">
        <div class="photo-container">
            <img src="/../assets/miyushan.jpg" width="125px" height="125px" alt="">  
        </div>
        <h3>Lakindu Oshada</h3>
        <h5>Content & Blog Writer</h5>
    </div>
    
    <div class="container1">
        <h3 id="aboutMe" class="text-center">About me</h3>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusamus, voluptas laborum! Mollitia odit eveniet facere aliquam magnam? Tenetur adipisci modi, repellat autem vitae ratione at saepe error quia dolor mollitia.
            
        </p>
    </div>
    <div *ngIf="Back" class="mb-5 text-center">
        <button (click)="goBack()" id="back" class="btn rounded-pill">back</button>
     </div>
    
</div>

 



<div *ngIf="active" id="prof" class="mb-5 row">
    
    <div class="col-xs-12 col-md-4 d-flex flex-column">
        <div>
            <img src="/../assets/miyushan.jpg" width="110px" height="110px" alt="">
        </div>
        <h3 class="text-black">Dilnuwan Induwara</h3>
        <div>
            <button (click)="clickbutton3()" class="btn rounded-pill">Profile</button> 
        </div>
    </div>
    <div class="col-xs-12 col-md-4 d-flex flex-column">
        <div>
            <img src="/../assets/miyushan.jpg" width="110px" height="110px" alt="">
        </div>
        <h3 class="text-black">Shakeer Miyushan</h3>
        <div>
            <button (click)="clickbutton1()" class="btn rounded-pill">Profile</button> 
        </div>
    </div>
    <div class="col-xs-12 col-md-4 d-flex flex-column">
        <div>
            <img src="/../assets/miyushan.jpg" width="110px" height="110px" alt="">
        </div>
        <h3 class="text-black">Isuru Kumaranathungan</h3>
        <div>
            <button (click)="clickbutton2()" class="btn rounded-pill">Profile</button> 
        </div>
    </div>
    <div class="col-xs-12 offset-md-2 col-md-4 d-flex flex-column">
        <div>
            <img src="/../assets/miyushan.jpg" width="110px" height="110px" alt="">
        </div>
        <h3 class="text-black">Madusha Keshan</h3>
        <div>
            <button (click)="clickbutton4()" class="btn rounded-pill">Profile</button> 
        </div>
        
    </div>
    <div class="col-xs-12 col-md-4 d-flex flex-column">
        <div>
            <img src="/../assets/miyushan.jpg" width="110px" height="110px" alt="">
        </div>
        <h3 class="text-black">Lakindu Oshada</h3>
        <div>
            <button (click)="clickbutton5()" class="btn rounded-pill">Profile</button> 
        </div>
        
    </div>
</div>